/* pre{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    background: #000;
    color: rgba(12, 209, 15, 0.97);
    padding: 10px 20px;
} */